
block content
    .content-wrapper
        .black-overlay
            .content.text-orange
                .row.justify-content-center
                    .col-md-8
                        h1 Sivua ei löydy
                        p Anteeksi, mutta etsimääsi sivua ei löytynyt.
                        a.btn.btn-primary.mt-3(href='/') Takaisin etusivulle
