doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/styles.css")
    body
        .container
            h1 404 - Sivua ei löydy
            p Valitettavasti etsimääsi sivua ei löytynyt.
            a(href="/") Palaa etusivulle
