doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/styles.css")
    body
        .container
            h1 500 - Virhe
            p Valitettavasti tapahtui virhe.
            if error
                pre #{error.stack}
            a(href="/") Palaa etusivulle
