block head 
    title= title
    link(rel="stylesheet", href="/styles.css")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


block content
    include layout
    .content-wrapper.text-white.text-left
        style.
            ul {
                list-style-position: inside;
            }
        div.text-center
            h1 #{title}
        p Tervetuloa Lotto-peliin! Tavoitteena on arvata oikein 7 numeroa 39 numerosta. 
        p Numero 40 ei ole valittavissa, sillä se on ollut käytössä vasta 2016 lähtien. Se oli käytössä myös ennen vuotta 1980.
        p Peli vertaa valitsemiasi numeroita vanhoihin Veikkauksen lottonumeroihin vuosilta 1990-2024. 
        p Tietokannassa on yhteensä 1809 arvontaa.
        p Näinkin monella arvonnalla mahdollisuus arvata kaikki 7 numeroa on noin   1/8 500
        h2 Ohjeet
        ul
            li Valitse 7 numeroa 1 ja 39 väliltä.
            li Klikkaa "Tarkista" -painiketta tarkistaaksesi valintasi.
            li Näet tulokset ja kuinka monta numeroa sait oikein.
            li Voit myös tarkastella päivämääriä, jolloin sait osumia.
        h2 Vinkkejä
        ul
            li Voit valita enintään 7 numeroa.  
            li Käytä "Näytä päivämäärät" -painiketta nähdäksesi tarkemmat tulokset.
            li "Tilastot" sivulla on mielenkiintoisia tilastoja lottonumeroihin liittyen
            li Voittajalle luvassa eeppinen show
        h2 Onnea peliin!
