extends layout

block content
    .content-wrapper.text-center.text-white.mt-5.fit-content
        style.
            ul {
                list-style-position: inside;
            }
        h1 #{title}
        p Tervetuloa Lotto-peliin! Tavoitteena on arvata oikein 7 numeroa 39 numerosta.
        h2 Ohjeet
        ul
            li Valitse 7 numeroa 1 ja 39 väliltä.
            li Klikkaa "Tarkista" -painiketta tarkistaaksesi valintasi.
            li Näet tulokset ja kuinka monta numeroa sait oikein.
            li Voit myös tarkastella päivämääriä, jolloin sait osumia.
        h2 Vinkkejä
        ul
            li Voit valita enintään 7 numeroa.
            li Käytä "Näytä päivämäärät" -painiketta nähdäksesi tarkemmat tulokset.
            li "Tilastot" sivulla on mielenkiintoisia tilastoja lottonumeroihin liittyen
        h2 Onnea peliin!
